<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cornifex.contaminationcounter" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Contamination Counter</name>
    <description>
        Contamination zones for a board game.
    </description>
    <author email="me@example.com" href="http://cornifex.com">
        Justin Cornell
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
